---
import PageTree from "../components/PageTree.vue";
import PathNavigator from "../components/PathNavigator.vue";



export interface Props {
    title: string;
}

const { title } = Astro.props;

const pages: {path: string[], title: string, url: string}[]= (await Astro.glob("./../pages/**/*.md*")).map(p => {
    const path = p.url.split("/");
    path.splice(0, 1)
    path.splice(path.length - 1, 1)
    const title = p.getHeadings().length > 0 ? p.getHeadings()[0].text : "Ohne Titel";
    return{path, title, url: p.url}
})

interface Page {
    title: String,
    url: String
}
interface Directory{
    name: string,
    children: (Directory | Page)[]
}

let pageTree: Directory = {
    name: "#root",
    children: []
}

for(let page of pages) {
    var root = pageTree;
    for(let sub of page.path) {

        let subdir: Directory = <Directory> root.children.find(c => c["name"] == sub)

        if(!subdir) {
            subdir = {
                name: sub,
                children: []
            }
            root.children.push(subdir)
        }
        root = subdir
    }

    root.children.push({title: page.title, url: page.url})
}

let parts = Astro.url.pathname
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description">
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>{title}</title>

    </head>
    <body>
        <div class="page">
            <div class="side">

                <PageTree root={pageTree} client:load/>
            </div>
            <div class="content">
                <PathNavigator parts={parts}/>
                <slot/>
            </div>
        </div>
    </body>
</html>

<style is:global>
    :root{
        --surface-color: #121212;
        --color-on-surface: #faf9f3;
        --color-on-surface-o10: rgba(250, 249, 243, 0.10)
    }
    html, body {
        margin: 0;
        background-color: var(--surface-color);
        color: var(--color-on-surface);
        font-family: "Roboto", sans-serif;
    }
    .page {
        display: flex;
    }
    .side{
        min-width: 200px;
        margin: 20px 40px;
    }
    .content{
        margin: 20px;
    }
</style>
